* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header__tel {
  color: #ffff;
  font-weight: 500;
  letter-spacing: 0.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__tel-dark {
  color: #424642;
}

.tel-header {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 20px;
  padding-right: 20px;
}

.header__logo {
  position: absolute;
  margin-left: 10%;
  top: 0px;
  background-color: #ffeb00;
  width: 250px;
  height: 250px;
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header__logo-item {
  margin-top: -20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.header__conteiner {
  background-color: #00558b;
  height: 80px;
  z-index: 10;
  width: 100%;
  color: #ffff;
  -webkit-transition: 0.3s color background-color;
  transition: 0.3s color background-color;
}

.menu__list {
  font-size: 16px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.menu__link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-bottom: 2px solid transparent;
  color: inherit;
}

.menu__link:hover {
  color: #ebcb1a;
  border-bottom: 2px solid #ebcb1a;
}

.menu__item:not(:last-child) {
  margin-right: 20px;
}

.menu__item:last-child {
  margin-right: 10px;
}

.main-link__block {
  position: relative;
}

.sub-menu1 {
  position: absolute;
  top: -880px;
  left: -10px;
}

.sub-menu1__list {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  width: 200px;
  color: #00558b;
  background-color: #ffff;
}

.sub-menu1__item {
  height: 0;
  padding: 10px;
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.4s;
  transition: height 0.3s, opacity 0.4s;
}

.sub-menu1__link {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: inherit;
  height: inherit;
  opacity: 0;
}

.sub-menu1__link:hover {
  color: #ffeb00;
  text-decoration: underline;
}

.main-link__block:hover .sub-menu1 {
  top: 80px;
}

.main-link__block:hover .sub-menu1__item {
  opacity: 1;
  height: 40px;
}

.main-link__block:hover .sub-menu1__list {
  opacity: 1;
}

.main-link__block:hover .sub-menu1__link {
  opacity: 1;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__main-block {
  color: #ffff;
  height: 100vh;
  width: 100%;
  background: url("../img/bgmain.jpg") 0 0/cover no-repeat;
}

.header__main-block__content {
  padding-left: 10vw;
  padding-top: 150px;
}

.header__main-block__title {
  font-size: 70px;
  font-weight: 700;
  max-width: 500px;
  padding-bottom: 20px;
}

.header__main-block__sub-title {
  font-size: 20px;
  max-width: 700px;
}

.header__main-block-black {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.286);
}

.main-block__garage {
  background: url("../img/bggarage.jpeg") 0 0/cover no-repeat;
}

.footer {
  color: #ffff;
  font-size: 15px;
  background-color: #313131;
}

.footer__conteiner {
  margin: 0 auto;
}

.footer__body {
  padding: 40px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__column {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.footer__column:not(:last-child) {
  padding-right: 20px;
}

.footer__list li:not(:last-child) {
  margin-bottom: 20px;
}

.footer__column-img {
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.wrapper {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #424642;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-title {
  overflow: hidden;
  padding-left: 5%;
  background-color: #ffff;
  font-size: 120px;
  height: 110px;
  font-weight: 700;
  color: #aac1aa;
}

.lock {
  overflow: hidden;
}

.services {
  margin-top: 50px;
}

.services__conteiner {
  max-width: 90%;
  margin: 50px auto;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lock-padding {
  position: fixed;
  top: 0;
  margin-top: 0;
  background-color: #fff;
  color: #00558b;
}

.item-service__bg1 {
  background: linear-gradient(0.4turn, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0)), url("../img/kt/garage.jpg") 0 0/cover no-repeat;
}

.item-service__bg2 {
  background: linear-gradient(0.4turn, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0)), url("../img/kt/door.jpg") 0 0/cover no-repeat;
}

.item-service__bg3 {
  background: linear-gradient(0.4turn, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0)), url("../img/kt/window.jpg") 0 0/cover no-repeat;
}

.item-service__bg4 {
  background: linear-gradient(0.4turn, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0)), url("../img/kt/doorm.jpg") 0 0/cover no-repeat;
}

.item-service {
  min-height: 350px;
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  padding: 30px 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-service__title {
  padding-bottom: 20px;
  color: #ffff;
  font-weight: 500;
  font-size: 24px;
}

.item-service__text {
  opacity: 0;
  max-width: 80%;
  color: #ffff;
  font-size: 16px;
}

.item-service:hover {
  z-index: 5;
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.brands__conteiner {
  padding: 30px 0 60px 0;
  background-color: #aac1aa;
}

.brands__title {
  text-align: right;
  padding-right: 5%;
  display: block;
  font-size: 120px;
  height: 110px;
  overflow: hidden;
  color: #fff;
  font-weight: 700;
}

.brands__block1 {
  margin-top: 80px;
  background: url("../img/bgbrands.jpg") right/auto 100% no-repeat;
}

.brands__block1-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  padding-left: 5%;
  background-color: #aac1aa;
  -webkit-clip-path: polygon(0 0, 66% 0, 52% 100%, 0% 100%);
          clip-path: polygon(0 0, 66% 0, 52% 100%, 0% 100%);
}

.text-block {
  color: #fff;
}

.text-block__wrapper {
  max-width: 50%;
}

.text-block__sub-title {
  font-size: 40px;
  font-weight: 600;
}

.text-block__text {
  line-height: 25px;
  padding-top: 20px;
  font-size: 20px;
}

.text-block__logo {
  margin-bottom: 20px;
}

.text-block__logo img {
  height: 100px;
}

.text-block__logo-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-block__link {
  margin-top: 30px;
}

.text-block__link a {
  -webkit-transition: 0.3s all 0s ease;
  transition: 0.3s all 0s ease;
  color: inherit;
  font-weight: 700;
  font-size: 20px;
}

.text-block__link a:hover {
  color: #ffeb00;
  text-decoration: underline;
}

.brands__block2-wrapper {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
}

.brands__block2-bg {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-clip-path: polygon(73% 0, 0 0, 0 100%, 100% 100%);
          clip-path: polygon(73% 0, 0 0, 0 100%, 100% 100%);
  background: url("../img/bgbrands1.jpg") 0 0/cover no-repeat;
}

.text-block2__wrapper {
  color: #424642;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
  padding-right: 5%;
}

.advantages__conteiner {
  padding-top: 30px;
  background-color: #aac1aa;
}

.advantages__title {
  text-align: center;
  color: #fff;
  font-size: 70px;
  font-weight: 700;
}

.advantages__sub-title {
  padding-top: 10px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.advantages__body {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.advantages__column {
  text-align: center;
  background-color: #fff;
  padding: 0 15px;
  width: 25%;
}

.advantages__item {
  padding: 20px;
  color: #424642;
}

.advantages__value {
  padding: 20px 0;
  font-weight: 700;
  font-size: 40px;
}

.advantages__icon img {
  height: 100px;
}

.advantages__text {
  font-size: 20px;
}

.main-title2 {
  font-size: 50px;
  color: #424642;
  text-align: center;
  font-weight: 500;
  margin: 100px 0 30px 0;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  opacity: 1;
  -webkit-transform: perspective(600px) translate(0, 0) rotateX(0);
          transform: perspective(600px) translate(0, 0) rotateX(0);
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: #fff;
  color: #424642;
  max-width: 800px;
  padding: 30px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  opacity: 0;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #424642;
  text-decoration: none;
}

.popup__title {
  font-size: 40px;
  margin-bottom: 1em;
}

.form-item {
  margin: 10px 0;
}

.input {
  border: 1px solid #424642;
  padding: 10px;
  border-radius: 15px;
  width: 100%;
}

.textarea {
  border: 1px solid #424642;
  padding: 10px;
  width: 100%;
}

.button {
  background-color: #fff;
  color: inherit;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 5px;
}

.button:hover {
  color: #fff;
  background-color: #00558b;
}

.konfig__conteiner {
  max-width: 1200px;
  margin: 0 auto;
}

.konfig__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.konfig__menu {
  z-index: 5;
  width: 25%;
}

.konfig__image {
  width: 50%;
}

.konfig__color {
  z-index: 5;
  width: 25%;
}

.sub-menu {
  padding-left: 20px;
}

.sub-menu__link {
  color: #fff;
  display: block;
  width: 250px;
  padding: 20px 0 20px 20px;
  background-color: #00558b;
  -webkit-transition: 0.6s all ease 0s;
  transition: 0.6s all ease 0s;
  border-radius: 10px;
  margin-bottom: 5px;
}

.sub-menu__link:hover {
  color: #000;
  background-color: #ffeb00;
}

.sub-menu__link-active {
  color: #000;
  background-color: #ffeb00;
}

.icon-active {
  -webkit-box-shadow: 0 0 10px #1426c9;
          box-shadow: 0 0 10px #1426c9;
  border: 1px solid #1426c9;
}

.doorIcon-active {
  -webkit-box-shadow: 0 0px 30px #1426c9;
          box-shadow: 0 0px 30px #1426c9;
}

.image-konfig__img {
  width: 100%;
  text-align: center;
  margin: 0px 0px 50px 0;
}

.image-konfig__img img {
  width: 100%;
}

.image-konfig__img-door {
  width: 100%;
  text-align: center;
  margin: 0px 0px 70px 0;
}

.image-konfig__img-door img {
  width: 50%;
}

.image-konfig__selector-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.image-konfig__selector {
  text-align: center;
  margin-top: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.image-konfig__selector-item:not(:last-child) {
  padding-right: 15px;
}

.selector-item__icon {
  cursor: pointer;
  margin-bottom: 10px;
}

.color-konfig {
  padding-right: 20px;
}

.color-konfig__title {
  font-size: 25px;
  margin-bottom: 15px;
}

.color-konfig__colors {
  max-height: 300px;
  padding-left: 7px;
  padding-top: 7px;
}

.color-konfig__sub-title {
  border-bottom: 2px solid #4e3b2b;
  border-top: 2px solid #4e3b2b;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 20px;
  line-height: 20px;
  font-size: 15px;
}

.thermoCarbon-colors,
.thermoSafe-colors,
.thermo65-colors,
.color-items-door {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.color-items,
.color-items__m,
.color-items__s {
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.color-item {
  width: 33.3333%;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.color-item__box {
  border-radius: 10px;
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.color-item__text {
  margin-top: 5px;
  text-align: center;
  color: #424642;
  margin-bottom: 5px;
}

.color-item__kas {
  display: none;
}

.color-item__m {
  display: none;
}

.color-item__l {
  display: none;
}

.color0 {
  background-color: #f7fbf5;
  border: 1px solid #1426c9;
  -webkit-box-shadow: 0 0 10px #1426c9;
          box-shadow: 0 0 10px #1426c9;
}

.color-active {
  border: 1px solid #1426c9;
  -webkit-box-shadow: 0 0 10px #1426c9;
          box-shadow: 0 0 10px #1426c9;
}

.color00 {
  background-color: #f7fbf5;
}

.color1 {
  background-color: #e5d7ba;
}

.color2 {
  background-color: #02412c;
}

.color3 {
  background-color: #263025;
}

.color4 {
  background-color: #565363;
}

.color5 {
  background-color: #545454;
}

.color6 {
  background-color: #363d43;
}

.color7 {
  background-color: #928c7e;
}

.color8 {
  background-color: #c2cbc8;
}

.color9 {
  background-color: #726c5e;
}

.color10 {
  background-color: #969da3;
}

.color11 {
  background-color: #523932;
}

.color12 {
  background-color: #101010;
}

.color13 {
  background-color: #beb5b8;
}

.color14 {
  background-color: #968d90;
}

.color15 {
  background-color: #333333;
}

.color16 {
  background: url("../img/konfig/garage/colors/1.jpg");
}

.color17 {
  background: url("../img/konfig/garage/colors/2.jpg");
}

.color18 {
  background: url("../img/konfig/garage/colors/3.jpg");
}

.color19 {
  background: url("../img/konfig/garage/colors/4.jpg");
}

.color20 {
  background: url("../img/konfig/garage/colors/5.jpg");
}

.color21 {
  background: url("../img/konfig/garage/colors/6.jpg");
}

.color22 {
  background: url("../img/konfig/garage/colors/7.jpg");
}

.color23 {
  background: url("../img/konfig/garage/colors/8.jpg");
}

.color24 {
  background: url("../img/konfig/garage/colors/9.jpg");
}

.color25 {
  background: url("../img/konfig/garage/colors/10.jpg");
}

.color26 {
  background: url("../img/konfig/garage/colors/11.jpg");
}

.color27 {
  background: url("../img/konfig/garage/colors/12.jpg");
}

.color28 {
  background: url("../img/konfig/garage/colors/13.jpg");
}

.color29 {
  background: url("../img/konfig/garage/colors/14.jpg");
}

.color30 {
  background: url("../img/konfig/garage/colors/15.jpg");
}

.color31 {
  background: url("../img/konfig/garage/colors/16.jpg");
}

.color32 {
  background: url("../img/konfig/garage/colors/17.jpg");
}

.color33 {
  background: url("../img/konfig/garage/colors/18.jpg");
}

.color34 {
  background: url("../img/konfig/garage/colors/19.jpg");
}

.color35 {
  background: url("../img/konfig/garage/colors/20.jpg");
}

.color36 {
  background: url("../img/konfig/garage/colors/21.jpg");
}

.color37 {
  background: url("../img/konfig/garage/colors/22.jpg");
}

.color38 {
  background: url("../img/konfig/garage/colors/23.jpg");
}

.color39 {
  background: url("../img/konfig/garage/colors/24.jpg");
}

.color40 {
  background: url("../img/konfig/garage/colors/25.jpg");
}

.color41 {
  background: url("../img/konfig/garage/colors/26.jpg");
}

.color42 {
  background: url("../img/konfig/garage/colors/27.jpg");
}

.color43 {
  background: url("../img/konfig/garage/colors/28.jpg");
}

.color44 {
  background: url("../img/konfig/garage/colors/29.jpg");
}

.color45 {
  background: url("../img/konfig/garage/colors/30.jpg");
}

.color100 {
  background-color: #60453a;
}

.konfig-add {
  margin-top: 10px;
}

.konfig-add__title {
  font-size: 25px;
}

.konfig-add__selector {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.konfig-add__selector-item {
  margin-right: 8%;
  width: 25%;
  margin-bottom: 10px;
}

.selector-item__img {
  height: 80px;
  cursor: pointer;
}

.selector-item__img img {
  height: 100%;
}

.info__conteiner {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.info__text-conteiner {
  padding: 20px 0 30px 0;
}

.info__text-none {
  display: none;
}

.info__text {
  text-align: justify;
  font-size: 18px;
}

.selector-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.selector-info__item {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
  padding: 10px 20px;
}

.selector-info__item:hover {
  color: #fff;
  background-color: #00558b;
  cursor: pointer;
}

.item-info__active {
  color: #fff;
  background-color: #00558b;
}

.none-colors {
  display: none;
}

.main-title__hormann {
  margin: 100px 0 30px 0;
}

.whyHormann__img-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.whyHormann__bg {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #ffeb00;
}

.whyHormann__bg2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.whyHormann__bg3 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #00558b;
}

.whyHormann__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}

.whyHormann__img img {
  width: 100%;
}

.whyHormann__imgAbout {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}

.whyHormann__imgAbout img {
  width: 100%;
}

.whyHormann__conteiner {
  width: 70%;
  margin: 0 auto;
}

.whyHormann__body {
  margin-top: 30px;
  margin-bottom: 40px;
}

.whyHormann__text {
  padding-top: 10px;
  text-align: justify;
  font-size: 20px;
  line-height: 25px;
}

.about__text {
  text-align: justify;
}

.about__text-body {
  width: 100%;
  padding: 0 5%;
}

.about__conteiner {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__conteiner-right {
  background-color: #aac1aa;
  color: #ffff;
}

.about__conteiner-center {
  padding: 0;
  margin: 60px 0 0px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(0.4turn, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0)), url("../img/contentImg/about2.jpg") center/auto 100% no-repeat fixed;
}

.about__body {
  padding-left: 5%;
  width: 50%;
}

.about__body-right {
  background-color: #aac1aa;
  padding: 0 5% 0 2%;
}

.about__bg {
  width: 50%;
  -webkit-clip-path: polygon(26% 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(26% 0, 100% 0, 100% 100%, 0 100%);
  background: url("../img/contentImg/about.jpg") 0 0/cover no-repeat;
}

.about__bg2 {
  width: 50%;
  -webkit-clip-path: polygon(73% 0, 0 0, 0 100%, 100% 100%);
          clip-path: polygon(73% 0, 0 0, 0 100%, 100% 100%);
  background: url("../img/contentImg/about1.jpg") left/cover no-repeat;
}

.about__bg3 {
  width: 100%;
}

.about__bg4 {
  width: 50%;
  -webkit-clip-path: polygon(26% 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(26% 0, 100% 0, 100% 100%, 0 100%);
  background: url("../img/contentImg/about3.jpg") 0 0/cover no-repeat;
}

.slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.arrow {
  font-size: 30px;
}

.slide__image {
  text-align: center;
}

.slide__image img {
  max-height: 500px;
  max-width: 100%;
}

.image-slider__conteiner {
  padding: 30px 0 70px 0;
}

.image-slider__conteiner .swiper-pagination-fraction {
  font-size: 20px;
  padding-bottom: 20px;
}

.image-slider__conteiner .swiper-scrollbar {
  background-color: #003658;
  margin: 20px;
}

.image-slider__conteiner .swiper-scrollbar-drag {
  cursor: pointer;
  background-color: #0181d1;
}

.sub-title__gallery {
  font-size: 40px;
  text-align: center;
  padding: 20px 0;
}
