* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-title {
  overflow: hidden;
  padding-left: 5%;
  background-color: #ffff;
  font-size: 160px;
  height: 125px;
  font-weight: 700;
  color: #cbdccbaf;
}

.header__tel {
  color: #ffff;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.tel-header {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 20px;
  padding-right: 20px;
}

.header__logo {
  position: absolute;
  margin-left: 10%;
  top: 0px;
  background-color: #ffeb00;
  width: 250px;
  height: 250px;
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.516);
          box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.516);
}

.header__logo-item {
  margin-top: -20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.header__conteiner {
  background-color: #00558b;
  height: 80px;
  z-index: 10;
  width: 100%;
  color: #ffff;
  -webkit-transition: 0.3s color background-color;
  transition: 0.3s color background-color;
}

.menu__list {
  font-size: 16px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 100%;
}

.menu__link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: inherit;
}

.menu__item:hover {
  color: #ffeb00;
  border-bottom: 6px solid #ffeb00;
}

.menu__item:not(:last-child) {
  margin-right: 20px;
}

.menu__item:last-child {
  margin-right: 10px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__main-block {
  color: #ffff;
  height: 100vh;
  width: 100%;
  background: url("../img/bgmain.jpg") 0 0/cover no-repeat;
}

.header__main-block__content {
  padding-left: 10vw;
  padding-top: 150px;
}

.header__main-block__title {
  font-size: 70px;
  font-weight: 700;
  max-width: 500px;
  padding-bottom: 20px;
}

.header__main-block__sub-title {
  font-size: 20px;
  max-width: 700px;
}

.header__main-block-black {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.286);
}

.services {
  margin-top: 50px;
}

.services__conteiner {
  max-width: 900px;
  margin: 0 auto;
}

.services__body {
  margin-top: 50px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-service__bg1 {
  background: url("../img/kt/garage.jpg") 0 0/cover no-repeat;
}

.item-service__bg2 {
  background: url("../img/kt/door.jpg") 0 0/cover no-repeat;
}

.item-service__bg3 {
  background: url("../img/kt/window.jpg") 0 0/cover no-repeat;
}

.item-service__bg4 {
  background: url("../img/kt/doorm.jpg") 0 0/cover no-repeat;
}

.item-service {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.item-service__title {
  padding-bottom: 20px;
  color: #ffff;
  font-weight: 700;
  font-size: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.item-service__text {
  opacity: 0;
  padding-left: 20px;
  color: #ffff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 15px;
}

.item-service:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 5;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.brands__title {
  padding-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 50px;
}

.brands__title h1 {
  display: block;
}

.brands__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brands__text {
  -ms-flex-item-align: start;
      align-self: flex-start;
  z-index: 2;
  margin-top: 100px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  padding-left: calc((100vw - 1110px)/2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffff;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  -webkit-box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 9px;
}

.brands__text-block {
  text-align: justify;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 20px;
}

.brands__img {
  margin-left: -150px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.brands__img-block2 {
  background-color: #00558b;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 30%;
  z-index: 2;
}

.block-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 0px;
}

.block-brands__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
}

.block-brands__item {
  padding: 60px 30px 30px 60px;
}

.block-brands__item img {
  width: 260px;
}

.footer {
  color: #ffff;
  font-size: 20px;
  background-color: #313131;
}

.footer__conteiner {
  max-width: 1100px;
  margin: 0 auto;
}

.footer__body {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__column {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.footer__column :not(:last-child) {
  padding-right: 20px;
}

.footer__list li:not(:last-child) {
  margin-bottom: 20px;
}

.footer__column-img {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
